<footer>
    <div class="footer">
        <img class="footer__social" src="https://cdn-icons-png.flaticon.com/512/1384/1384053.png" alt="Facebook">
        <img class="footer__social" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
        <img class="footer__social" src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png" alt="Twitter">
        <img class="footer__social" src="https://cdn-icons-png.flaticon.com/512/2504/2504942.png" alt="Tik Tok">
    </div>
</footer>